<ion-pane>
    <ion-header-bar class="header-footer-bg">
        <div class="center">
            <h3>Feedhenry</h3> <h4>Quickstart - Ionic</h4>
        </div>
    </ion-header-bar>

    <ion-content has-header="true" ng-controller="MainCtrl">
        <div class="row" >
            <div id="main" class="col col-offset-10 col-80" >
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" id="uInput" placeholder="Enter Your Name Here" ng-model="userInput">
                    </label>

                </div>
                <button class="button button-block button-positive" ng-click="sayHello()">Say Hello From The Cloud</button>
            </div>
        </div>
        <div class="row">
            <div class="col col-offset-10 col-80"><h3 id="greeting"> <i class="icon {{textClassName}}"></i>  {{noticeMessage}}</h3></div>
        </div>
    </ion-content>

    <fhfooter></fhfooter>
</ion-pane>